//! **************************************************************************
// Written by: Map O.61xd on Tue Apr 29 19:31:17 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Cb" LOCATE = SITE "T18" LEVEL 1;
COMP "Cc" LOCATE = SITE "U17" LEVEL 1;
COMP "Cd" LOCATE = SITE "U18" LEVEL 1;
COMP "Ce" LOCATE = SITE "M14" LEVEL 1;
COMP "Cf" LOCATE = SITE "N14" LEVEL 1;
COMP "Cg" LOCATE = SITE "L14" LEVEL 1;
COMP "Dp" LOCATE = SITE "M13" LEVEL 1;
COMP "An0" LOCATE = SITE "N16" LEVEL 1;
COMP "An1" LOCATE = SITE "N15" LEVEL 1;
COMP "An2" LOCATE = SITE "P18" LEVEL 1;
COMP "An3" LOCATE = SITE "P17" LEVEL 1;
COMP "Ld0" LOCATE = SITE "U16" LEVEL 1;
COMP "Ld1" LOCATE = SITE "V16" LEVEL 1;
COMP "Ld2" LOCATE = SITE "U15" LEVEL 1;
COMP "Ld3" LOCATE = SITE "V15" LEVEL 1;
COMP "Ld4" LOCATE = SITE "M11" LEVEL 1;
COMP "Ld5" LOCATE = SITE "N11" LEVEL 1;
COMP "Ld6" LOCATE = SITE "R11" LEVEL 1;
COMP "Ld7" LOCATE = SITE "T11" LEVEL 1;
COMP "Sw0" LOCATE = SITE "T10" LEVEL 1;
COMP "Sw1" LOCATE = SITE "T9" LEVEL 1;
COMP "Sw2" LOCATE = SITE "V9" LEVEL 1;
COMP "Sw3" LOCATE = SITE "M8" LEVEL 1;
COMP "Sw4" LOCATE = SITE "N8" LEVEL 1;
COMP "Sw5" LOCATE = SITE "U8" LEVEL 1;
COMP "Sw6" LOCATE = SITE "V8" LEVEL 1;
COMP "Sw7" LOCATE = SITE "T5" LEVEL 1;
COMP "ClkPort" LOCATE = SITE "V10" LEVEL 1;
COMP "BtnC" LOCATE = SITE "B8" LEVEL 1;
COMP "BtnD" LOCATE = SITE "C9" LEVEL 1;
COMP "BtnL" LOCATE = SITE "C4" LEVEL 1;
COMP "BtnR" LOCATE = SITE "D9" LEVEL 1;
COMP "BtnU" LOCATE = SITE "A8" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "N6" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "P7" LEVEL 1;
COMP "vga_b" LOCATE = SITE "R7" LEVEL 1;
COMP "vga_g" LOCATE = SITE "P8" LEVEL 1;
COMP "Mt_St_oe_bar" LOCATE = SITE "L18" LEVEL 1;
COMP "Mt_St_we_bar" LOCATE = SITE "M16" LEVEL 1;
COMP "Ca" LOCATE = SITE "T17" LEVEL 1;
COMP "vga_r" LOCATE = SITE "U7" LEVEL 1;
COMP "Mt_ce_bar" LOCATE = SITE "L15" LEVEL 1;
COMP "St_ce_bar" LOCATE = SITE "L17" LEVEL 1;
COMP "St_rp_bar" LOCATE = SITE "V3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "vga_r" BEL "flight_phys/VertSpeed_2" BEL
        "flight_phys/VertSpeed_4" BEL "flight_phys/VertSpeed_5" BEL
        "flight_phys/VertSpeed_6" BEL "flight_phys/VertSpeed_7" BEL
        "flight_phys/VertSpeed_8" BEL "flight_phys/VertSpeed_9" BEL
        "DIV_CLK_0" BEL "DIV_CLK_1" BEL "DIV_CLK_2" BEL "DIV_CLK_3" BEL
        "DIV_CLK_4" BEL "DIV_CLK_5" BEL "DIV_CLK_6" BEL "DIV_CLK_7" BEL
        "DIV_CLK_8" BEL "DIV_CLK_9" BEL "DIV_CLK_10" BEL "DIV_CLK_11" BEL
        "DIV_CLK_12" BEL "DIV_CLK_13" BEL "DIV_CLK_14" BEL "DIV_CLK_15" BEL
        "DIV_CLK_16" BEL "DIV_CLK_17" BEL "DIV_CLK_18" BEL "DIV_CLK_19" BEL
        "flight_phys/Bird_Y_0" BEL "flight_phys/Bird_Y_1" BEL
        "flight_phys/Bird_Y_2" BEL "flight_phys/Bird_Y_3" BEL
        "flight_phys/Bird_Y_4" BEL "flight_phys/Bird_Y_5" BEL
        "flight_phys/Bird_Y_6" BEL "flight_phys/Bird_Y_7" BEL
        "flight_phys/Bird_Y_8" BEL "flight_phys/VertSpeed_0" BEL
        "flight_phys/Bird_Y_9" BEL "obs_log/state_FSM_FFd1" BEL
        "obs_log/state_FSM_FFd2" BEL "syncgen/CounterX_0" BEL
        "syncgen/CounterY_0" BEL "syncgen/CounterX_8" BEL "syncgen/CounterX_7"
        BEL "syncgen/CounterX_9" BEL "syncgen/CounterX_5" BEL
        "syncgen/CounterX_4" BEL "syncgen/CounterX_6" BEL "syncgen/CounterX_2"
        BEL "syncgen/CounterX_1" BEL "syncgen/CounterX_3" BEL
        "syncgen/CounterY_9" BEL "syncgen/CounterY_8" BEL "syncgen/CounterY_6"
        BEL "syncgen/CounterY_5" BEL "syncgen/CounterY_7" BEL
        "syncgen/CounterY_3" BEL "syncgen/CounterY_2" BEL "syncgen/CounterY_4"
        BEL "syncgen/CounterY_1" BEL "syncgen/vga_HS" BEL
        "syncgen/inDisplayArea" BEL "syncgen/vga_VS" BEL
        "flight_phys/VertSpeed_1" BEL "flight_phys/VertSpeed_3" BEL
        "flight_phys/Bird_Y_1_1" BEL "flight_phys/Bird_Y_2_1" BEL
        "flight_phys/Bird_Y_4_1" BEL "flight_phys/Bird_Y_3_1" BEL
        "ClkPort_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

